/* ========== Begin Universal Styles ==========*/

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:after {
	display: table;
	content: " ";
	clear: both;
}
/* ========== End Universal Styles ==========*/

/* ========== Begin Global Styles ==========*/


.floatR {
	float: right;
}

.floatL {
	float: left;
}

.center {
	text-align: center;
}

ul li {list-style-type: none;
	text-decoration: none;}

body {
	background: rgba(219,218,216,1) url('../img/github-present.jpg') center top no-repeat;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	font-size: 62.5%;
}

a:link {
	list-style-type: none;
	text-decoration: none;
	color: rgba(255,255,255,1);
}

a:visited {
	color: rgba(138,204,20,1);
}

a:hover {
	color: rgba(246,52,133,1);
}

a:active {
	color: rgba(255,255,255,1);
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.throw {
	position: absolute;
	top: -999em;
	left: -999em;
}

.hide {
	display: none;
}

/* ========== End Global Styles ==========*/
/* ========== Begin Page Styles ==========*/



.mainHeader {
	background: rgba(103,1,0,0.8);
	color: rgba(230,230,230,1);
	margin-top: 1em;
	padding-top: 1em;
	width: 100%;
}

nav ul li {
	list-style-type: none;
	background: rgba(103,1,0,0.8);
	display: inline;
	text-align: center;
	width: 33.33%;
	margin: 0 auto;
	padding: .5em;
	float: left;
	font-size: 1.4em;
}

.terminal {
	background: rgba(103,1,0,0.8);
	width: 100%;
	height: 100%;
	margin-top: 2em;
}

#field {
	width: 100%;
	height: 30px;
	display: block;
	color: rgba(230,230,230,1);
	background: rgba(103,1,0,0.8);
	border: none;
	padding-left: 5%;
	font-size: 1.4em;
}

.terminal p {
	margin: 20px;
	line-height: 1.8em;
	color: rgba(230,230,230,1);
	font-size: 1.4em;
}

mark {
	background: rgba(122,91,91,0.8);
	padding: 0em 0.5em 0em 0.5em;
	color: rgba(230,230,230,1);
}

footer {
	background: rgba(103,1,0,0.8);
	text-align: center;
	padding: 5px;
	font-size: 1em;
}

/* ========== End Page Styles ==========*/
